/* Footer container */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.footer {
  background-color: #252728;
  color: white;
  padding: 20px 10px 20px 10px;
  font-family: Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin-top: 100px;
}

/* Main content of footer */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80px; 
}

/* Logo styling */
.footer-logo h2 {
  margin: 0;
  font-size: 24px;
}
.footer-logo img{
    width: 0px;
}
/* Footer menu */
.footer-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.footer-menu li {
  cursor: pointer;
  transition: color 0.3s;
}

.footer-menu li:hover {
  color: #00bfff;
}

/* Copyright */
.footer-bottom {
 text-align: center;
}

/* Responsive: Medium screens */
@media (min-width: 600px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;

    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
 
}
@media (max-width:500px){
  .footer-container {
  gap: 20px;
  }
  .footer-bottom{
    margin-top: 20px;
  }
}